.graph {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 20px 30px 30px 30px;
    overflow-y: auto;
}

.content {
    flex: 1;
    margin-top: 60px;
    overflow-y: auto;
}

.infoboxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 30px 30px 10px 30px;
    overflow-y: auto;
}



@media (max-width: 1250px) {
    .graph {
        grid-template-columns: 1fr;
    }
    .infoboxes {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 760px) {
    .graph {
        padding: 30px 10px;
    }
    .heading h1 {
        font-weight: 300;
        font-size: 1.8rem;
    }
    .infoboxes {
        grid-row-gap: 20px;
        padding: 20px 20px 10px 20px;
    }

}

 @media (max-width: 600px) {
    .infoboxes {
        grid-template-columns: 1fr;
    }
    .graph {
        padding: 20px 0px;
    }

} 


